*{
   box-sizing: border-box;
  padding:0;
  margin:0;
 }
body{
  margin:0;
  font: 1em "Microsoft YaHei UI", sans-serif;
}
@media (min-width: 768px){
  .wrapper{
    display: block;

  }
  .clear-fix:after{
    content:"";
    display:table;
    clear:both;
  }
}