@import "./Variables.scss";

.course-nav-bar{
  width:100%;
  border-bottom: $border-second-style;

  span{
    padding: $separation-padding;
    background-color: $primary-color;
    display:inline-block;
    border-right:$border-second-style;
    width:25%;
    text-align: center;
    cursor:pointer;
    &:hover{
      background-color: $hover-color;
    }
    &:active{
      background-color: $active-color;
    }
  }
}
.announcement-message-bar{
  display:flex;
  justify-content: space-between;
  padding:$separation-padding;
  border-bottom: $border-main-style;
  background-color: $primary-color;
  cursor:pointer;
  &:hover{
    background-color: lighten($secondary-color, 30);
  }

  & > *{
    vertical-align: middle;
  }

  span{
    display:inline-block;
  }
  .announcement-date{
    margin-left:auto;
    margin-right:5px;
  }

}