@import "./Variables.scss";


.course-main{
  .title{
    @include mobile-title;


    & span{
      margin-right:20px;
    }
  }
  .course-nav-bar{
    width:100%;
    display:flex;
    justify-content: center;
    border-top: $border-main-style;
    border-bottom: $border-main-style;

    & a {
      @include a-tag-generic-style;
      display: inline-block;
      background-color: $tertiary-color;
      border-radius:5px;
      text-align: center;

      padding: 5px 15px;
      margin: 2px 3%;
    }
    .active{
      color:$primary-color;
      background-color: $active-color;
    }
  }
}

@media(min-width: 768px) {
  .course-main {
    @include main-contents-tablet-layout;

    .title {
      display: inline-block;
    }
    .course-nav-bar {
      display: inline-block;
      width: 500px;
      border: none;
      & a {
        padding: 5px 30px;
      }
    }
  }
}

@media(min-width: 1281px){
  .course-main {
    @include main-contents-desktop-layout;
  }
}


