@import "./variables.scss";
.drop-down-line {
  width: 24px;
  height: 2px;
  background-color: $primary-color;
  margin: 5px 5px;
}
.nav-contents{
display: none;

}
.nav-wrapper{
  width:100%;
  margin:0;

}
.nav-bar {
  font-size: 1.2em;
  width:100%;
  height:$navBar-height;
  background-color: $secondary-color;
  border-top: 2px solid transparent;
  border-bottom: 2px solid lighten($secondary-color,10);
  display:flex;
  justify-content: space-between;
  font-family: $main-font;
  align-items: center;
}

.drop-down-icon {
  margin: 10px 10px;
  cursor: pointer;

  &:hover .drop-down-line {
    background-color: $tertiary-color;
  }

  &:active .drop-down-line{
    background-color: $tertiary-color;
  }
}
.brand-name{
  margin: 5px 0 5px 30px;
  color: $primary-color;
}
.school-logo{
  margin:0 10px;
  padding:0;
  height: 60px;
& img{
  height:60px;
  width: 60px;
}
}
@media (min-width: 768px) {


  .nav-wrapper{
    display: inline-block;
    float:left;
    width:80px;
    height:100vh;
  }

  .nav-bar{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .drop-down-line{
    display:none;
  }
  .brand-name{
    margin:5px 0;

    font-size: 0.8em;
    order:-2;
    text-align:center;
  }
  .nav-contents{
    margin:10px 0;
    order:-1;
    width:100%;
    display:inline-block;

  }
  .school-logo{
    order:-3;
    margin:0;
    padding:0;
    height: 80px;
    & img{
      height:80px;
      width: 80px;
    }
}
  .mobile-phone-menu{
    display:none;
  }

}

@media (min-width:1281px){
  .nav-wrapper{
    display: inline-block;
    float:left;
    width: 120px;
    height:100vh;
  }
  .brand-name{
    font-size:1.2em;
  }
  .school-logo {
    height: 120px;
    & img {
      height: 120px;
      width: 120px;
    }
  }
}









