@import "./variables.scss";
.drop-down-line {
  width: 40px;
  height: 4px;
  background-color: $primary-color;
  margin: 10px 10px;
}
.nav {
  display: flex;
  flex-direction: column;

}
.nav-bar {
  font-size: 1.2em;
  width:100%;
  height:$navBar-height;
  background-color: $secondary-color;
  border-top: 2px solid transparent;
  border-bottom: 2px solid lighten($secondary-color,10);
  flex:1;
  display:flex;
  justify-content: space-between;
  font-family: $main-font;
  align-items: center;

}

.drop-down-icon{
  margin:10px 10px;
  cursor: pointer;
}
.brand-name{
  margin: 5px;
  color: $primary-color;
}
.school-logo{
  margin:5px 10px;
  height: 2.5em;
  width: 2.5em;
}













