@import "./variables.scss";
.nav-sub{

  overflow:hidden;
  background-color: $secondary-color;
  font-family:$main-font;
  font-size: 1em;
  width: 100%;
}

.nav-sub{
  & img {
    height: 1.2em;
    width: 1.2em;
    color: $primary-color;
  }
  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
  }

  & li {
    cursor:pointer;
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.2em;
    text-align: center;
  }
  & a {
    flex: 1;
    display: flex;
    justify-content: center;
    color: $primary-color;
    text-decoration: none;
    padding: 5px 0;
  }
  & a.active {
    background-color: $active-color;
  }
  & img {
    margin-right: 1.3em;
  }

  & li:hover{
    background-color: $hover-color;
  }


}
@media (min-width: 768px) {
  .nav-sub{
    overflow:hidden;
    background-color: $secondary-color;
    font-family:$main-font;
    font-size: 0.8em;
    width: 100%;
    & a {

      display: flex;
      justify-content: center;
      color: $primary-color;
      text-decoration: none;
      padding: 12px 0;
    }

    & li {
      width:100%
    }
    & img {
      margin-right:0.3em;
    }
  }

}


@media (min-width:1281px) {
  .nav-sub{
    overflow:hidden;
    background-color: $secondary-color;
    font-family:$main-font;
    font-size: 0.8em;
    width: 100%;
  & a {
    padding: 15px 0;
  }

    & img {
      margin-right: 0.8em;
    }
  }

}