@import './Variables.scss';


.profile-photo {
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 60px;
  border-bottom: $border-main-style;

  & div {
    display: inline-block;
    text-align: center;
    margin:0 10px;
  }
  & img {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin:0 10px;
    border: $border-main-style;
    border-radius: 4px;
  }
}

  .profile-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: $border-main-style;
    & div {
      text-align:center;
      display: inline-block;
      margin:0 10px;
    }
  }
