$primary-color:white;
$secondary-color:#1A538B;
$default-text-color: black;
$tertiary-color: darkGrey;
$hover-color: lighten($secondary-color, 20);
$active-color: lighten($secondary-color, 30);

$second-border-style-color: lighten($secondary-color, 30);


$navBar-height: 60px;
$main-font:"Microsoft YaHei UI";
$border-main-style: thin silver solid;
$border-second-style: 0.5px $second-border-style-color solid;
$separation-padding: 5px;


$tablet-width: calc(100% - 88px);
$desktop-width: calc(100% - 30%);



@mixin main-contents-tablet-layout{
  float: right;
  border-top: $border-main-style;
  width: $tablet-width;
  margin-top: 70px;
  max-height: 100vh;
}
@mixin  main-contents-desktop-layout{
  float:left;
  margin-top: 70px;
  margin-left: 5px;
  width: $desktop-width;
}