$primary-color:white;
$secondary-color:#1A538B;
$default-text-color: black;
$tertiary-color: #EAEAEA;
$hover-color: lighten($secondary-color, 20);
$active-color: lighten($secondary-color, 5);

$second-border-style-color: lighten($secondary-color, 30);


$navBar-height: 60px;
$main-font:"Microsoft YaHei UI";
$border-main-style: thin silver solid;
$border-second-style: 0.5px $second-border-style-color solid;
$separation-padding: 5px;


$tablet-width: calc(100% - 88px);
$desktop-width: calc(100% - 10%);


@mixin sub-heading-style{
  padding:10px 0 10px 20px;
  border-bottom: $border-main-style;
  cursor:pointer;
  &:hover{
    background-color: $hover-color;
  }

}
@mixin main-contents-tablet-layout{
  float: right;
  border-top: $border-main-style;
  width: $tablet-width;
  margin-top: 70px;
  max-height: 100vh;
}
@mixin  main-contents-desktop-layout{
  float:left;
  margin-top: 70px;
  margin-left: 5px;
  width: $desktop-width;
  max-width: 1500px;
}
@mixin mobile-title{
  font-size: 1.2em;
  padding-left:10px;
  padding-top:15px;
  padding-bottom:10px;

}
@mixin a-tag-generic-style{
  text-align: center;
  text-decoration: none;
  color: $default-text-color;
  &:hover{
    color:white;
    background-color: $hover-color;
  }
}